:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#app {
  display: grid;
  min-height: 100vh;
  transition: 300ms;
  /* TODO: add breakpoints or minmax so that this styles better on small screens */
  grid: "commands commands" 30px "code map" auto / 40% 1fr;
}

#commands {
  grid-area: commands;
}

#code {
  grid-area: code;
}

#map {
  grid-area: map;
}
